
body {
    font-family: 'space grotesk', sans-serif;
    background-color: #f7f7f4;
}
h1 {
    text-align: center;
    color: #885DF1;
    
}
h2 {
    text-align: center;
    font-size: 100%;
}
h3 {
    text-align: center;
}
form {
    text-align: center;
    display: inline;
}
input {
    width: 65%;
    
}
.frame {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
    padding: 40px;
       margin-top: 10px;
    padding-right: 15px;
    max-width: 665px;
    display: block;
    margin: 0 auto;
}
form {
    display: block;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    border: none;
    border-radius: 6px;
    border-style: hidden;
    
}
.city-input {
    border: none;
    border-width: 0px;
    background-color: #F9F7FE;
    padding: 10px;
    border-radius: 10px;
}
.welcome {
    border-width: 0px;
    border: none;
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
}
.btn-primary {
    display: inline;
    width: 80px;
    
}
.btn-link {
    width: 80px;
    border: 1px solid #885DF1;
    border-radius: 100px;
   font-size: xx-small;
    background-color: fff;
    text-decoration: none;
}
.weekday {
    font-size: 90%;
    font-weight: bold;
    text-align: center;
}
.degrees {
    font-size: xx-large;
    font-weight: bolder;
    position: absolute;
    left: 85px;
    top: 330px;

}
.temperatureUnit {
    font-size: xx-large;
    font-weight: bolder;
    position: absolute;
    left: 130px;
    top: 330px;
}
.rain {
    font-size: 20px;
    padding-top: 20px;
}
.wind {
    font-size: 20px;
    padding-top: 20px;
}
.thisweek {
    font-size: 20px;
    padding: 0px 50px;
    margin-bottom: 20px;
    
   
}
.sun {
    display: block;
    margin-left: 40px;
    margin-top: 30px;
    max-width: 80px;
}

.raincloud  {
    display: block;
    margin: 0 auto;
    height: 80px;
    width: 80px;
}
.windcloud  {
    display: block;
    margin: 0 auto;
    height: 80px;
    width: 80px;
}
.mm {
    text-align: center;
    display: block;
    margin: 0 auto;
}
.ws {
    text-align: center;
    display: block;
    margin: 0 auto;
}
.weekcontainer {
    margin-top: 40px;
    margin-bottom: 20px;
    border: none;
    background-color: #fcfcf7 ;
}
.linksourcecode {
       text-align: center;
       margin-left: 150px;
}
.weatherDescription {
position:relative;
left: 30px;
top: 55px;
}